$fb-col:#1877f2;
$twitter-col:#1da1f2;
$behance-col:#1769ff;
$vimeo-col:#1ab7ea;
$snapchat-col:#fffc00;
$airbnb-col:#fd5c63;
$amazon-col:#ff9900;
$android-col:#a4c639;
$ubuntu-col:#dd4814;
$github-col:#4078c0;
$js-col:#F7DF1E;