@import "_variables.scss";


.lab {
    font-size: 72px;
}

.la-facebook {
    color: $fb-col;
}

.la-twitter {
    color: $twitter-col;
}

.la-behance {
    color: $behance-col;
}

.la-vimeo {
    color: $vimeo-col;
}

.la-snapchat {
    color: $snapchat-col;
}

.la-airbnb {
    color: $airbnb-col;
}

.la-amazon {
    color: $amazon-col;
}

.la-android {
    color: $android-col;
}

.la-ubuntu {
    color: $ubuntu-col;
}

.la-github {
    color: $github-col;
}

.la-js-squar {
    color: $js-col;
}